.tagStyle{
    .van-tag{
        background-color:transparent !important;
        color:#999999;
        font-size: 14px;
        margin-top: 7px;
        margin-left: 15px;
        margin-bottom: 7px;
    }
}
.van-cell__title{
    width: 125px;
    flex: initial;
    font-weight: bolder;
}
.van-cell__value{
    text-align: left;
    color: #323233;
    .van-field__body{
        height: 100%;
        .van-checkbox--horizontal{
            margin-bottom: 10px;
        }
    }
}